<div>
    <h3>Borrar un Proveedor</h3>
</div>
<form class="form-horizontal" ng-submit="pdc.updateProvider()">
    <div class="form-group">
        <label class="col-md-2 control-label">Nombre del proveedor</label>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="pdc.providerName" ng-required="!pdc.providerName">
        </div>
        <button type="button" ng-click="pdc.searchProveedoresByName()" class="btn btn-success">Buscar</button>
    </div>
    <div class="row show-hide-message" ng-show="pdc.searchMessage">
        <div class="col-md-7 col-md-offset-2">
            <div class="alert alert-warning">
                {{ pdc.searchMessage }}
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="pdc.searchedProviders.length > 0">
        <div class="col-md-7 col-md-offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="provider in pdc.searchedProviders">
                    <th scope="row">{{pdc.searchedProviders.indexOf(provider)}}</th>
                    <td>{{provider.nombre}}</td>
                    <td>{{provider.telefono}}</td>
                    <td>{{provider.email}}</td>
                    <td><button ng-click="pdc.selectProviderForUpdate(provider)" type="button" class="btn btn-warning">Seleccionar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group" ng-show="pdc.providerSelected">
        <label class="col-md-2 control-label">Nombre</label>
        <div class="col-md-3">
            <input type="text" readonly class="form-control" ng-model="pdc.providerData.nombre" ng-required="!pdc.providerData.nombre">
        </div>
        <label class="col-md-1">Apellido</label>
        <div class="col-md-3">
            <input type="text" readonly class="form-control" ng-model="pdc.providerData.apellido" ng-required="!pdc.providerData.apellido">
        </div>
    </div>
    <div class="form-group" ng-show="pdc.providerSelected">
        <label class="col-md-2 control-label">Teléfono</label>
        <div class="col-md-3">
            <input type="number" readonly min="0" class="form-control" ng-model="pdc.providerData.telefono" ng-required="!pdc.providerData.telefono">
        </div>
        <label class="col-md-1">Dirección</label>
        <div class="col-md-3">
            <input type="text" readonly class="form-control" ng-model="pdc.providerData.direccion" ng-required="!pdc.providerData.direccion">
        </div>
    </div>
    <div class="form-group" ng-show="pdc.providerSelected">
        <label class="col-md-2 control-label">Tipo de Persona</label>
        <div class="col-md-3">
            <input readOnly class="form-control" ng-model="pdc.providerData.tipoPersona.descripcion" ng-required="!pdc.providerData.tipoPersona.descripcion">
            </input>
        </div>
        <label class="col-md-1">Número de CUIT</label>
        <div class="col-md-3">
            <input type="number" readonly min="0" class="form-control" ng-model="pdc.providerData.nroCuit" ng-required="!pdc.providerData.nroCuit">
        </div>
    </div>
    <div class="form-group" ng-show="pdc.providerSelected">
        <label class="col-md-2 control-label">Tipo de Documento</label>
        <div class="col-md-3">
            <input readOnly class="form-control" ng-model="pdc.providerData.tipoDocumento.descripcion" ng-required="!pdc.providerData.tipoDocumento.descripcion">
            </input>
        </div>
        <label class="col-md-1">Número Documento</label>
        <div class="col-md-3">
            <input type="number" readonly min="0" class="form-control" ng-model="pdc.providerData.nroDocumento" ng-required="!pdc.providerData.nroDocumento">
        </div>
    </div>
    <div class="form-group" ng-show="pdc.providerSelected">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-3">
            <input type="text" readonly class="form-control" ng-model="pdc.providerData.email" ng-required="!pdc.providerData.email">
        </div>
    </div>
    <div class="form-group" ng-show="pdc.providerSelected">
        <div class="col-md-offset-5 col-md-7">
            <button type="submit" class="btn btn-success">Borrar Proveedor</button>
            <a ng-click="pdc.goBack()" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
</form>

<div class="row show-hide-message" ng-show="pdc.message">
    <div class="col-md-7 col-md-offset-2">
        <div class="alert alert-info">
            {{ pdc.message }}
        </div>
    </div>
</div>