<div>
    <h3>Editar un usuario</h3>
</div>
<form class="form-horizontal" ng-submit="uec.updateUser()">
    <div class="form-group">
        <label class="col-md-2 control-label">Ingrese nombre del Usuario</label>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="uec.userName" ng-required="!uec.userName">
        </div>
        <button type="button" ng-click="uec.searchUsuariosByName()" class="btn btn-success">Buscar</button>
    </div>
    <div class="row show-hide-message" ng-show="uec.searchMessage">
        <div class="col-md-7 col-md-offset-2">
            <div class="alert alert-warning">
                {{ uec.searchMessage }}
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="uec.searchedUsers.length > 0">
        <div class="col-md-7 col-md-offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in uec.searchedUsers">
                    <th scope="row">{{uec.searchedUsers.indexOf(user)}}</th>
                    <td>{{user.nombre}}</td>
                    <td>{{user.apellido}}</td>
                    <td>{{user.email}}</td>
                    <td><button ng-click="uec.selectUserForUpdate(user)" type="button" class="btn btn-warning">Seleccionar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group" ng-show="uec.userSelected">
        <label class="col-md-2 control-label">Nombre</label>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="uec.userData.nombre" ng-required="!uec.userData.nombre">
        </div>
        <label class="col-md-1">Apellido</label>
        <div class="col-md-3">
            <input type="text" class="form-control"  ng-model="uec.userData.apellido" ng-required="!uec.userData.apellido">
        </div>
    </div>
    <div class="form-group" ng-show="uec.userSelected">
        <label class="col-md-2 control-label">Domicilio</label>
        <div class="col-md-3">
            <input type="text" class="form-control" ng-model="uec.userData.domicilio" ng-required="!uec.userData.domicilio">
        </div>
        <label class="col-md-1">Email</label>
        <div class="col-md-3">
            <input type="email" class="form-control" ng-model="uec.userData.email" ng-required="!uec.userData.email">
        </div>
    </div>
    <div class="form-group" ng-show="uec.userSelected">
        <label class="col-md-2 control-label">Rol de Usuario</label>
        <div class="col-md-3">
            <input readonly type="text" class="form-control" ng-model="uec.userData.rol.descripcion" ng-required="!uec.userData.rol.descripcion">
            </input>
        </div>
        <label class="col-md-1">Teléfono</label>
        <div class="col-md-3">
            <input type="number" min="0" class="form-control"  ng-model="uec.userData.telefono" ng-required="!uec.userData.telefono">
        </div>
    </div>
    <div class="form-group" ng-show="uec.userSelected">
        <label class="col-md-2 control-label">Tipo de Documento</label>
        <div class="col-md-3">
            <input readonly type="text" class="form-control" ng-model="uec.userData.tipoDocumento.descripcion" ng-required="!uec.userData.tipoDocumento.descripcion">
            </input>
        </div>
        <label class="col-md-1">Número Documento</label>
        <div class="col-md-3">
            <input type="number" min="0" class="form-control" ng-model="uec.userData.nroDocumento" ng-required="!uec.userData.nroDocumento">
        </div>
    </div>
    <div class="form-group" ng-show="uec.userSelected">
        <label class="col-md-2 control-label">Contraseña</label>
        <div class="col-md-3">
            <input type="password" class="form-control" ng-model="uec.userData.password" ng-required="!uec.userData.password">
        </div>
    </div>

    <div class="form-group" ng-show="uec.userSelected">
        <div class="col-md-offset-2 col-md-7">
            <button type="submit" class="btn btn-success btn-lg btn-block">Editar Usuario</button>
            <a ng-click="uec.goBack()" class="btn btn-danger btn-lg btn-block">Cancelar</a>
        </div>
    </div>
</form>

<div class="row show-hide-message" ng-show="uec.message">
    <div class="col-md-7 col-md-offset-2">
        <div class="alert alert-info">
            {{ uec.message }}
        </div>
    </div>
</div>




