.venta-table-input {
    width: 40px;
}
.venta-table-cantidad {
    width: 80px;
}
.venta-table-precio-input {
    width: 80px;
}
.venta-table-accion {
    width: 60px;
}
.venta-total {
    font-weight: 600;
    padding-right: 110px;
}
.venta-table-precio-venta {
    width:110px;
}

/* The Modal (background) */
.venta-cliente-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.venta-cliente-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.venta-cliente-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.venta-cliente-close:hover,
.venta-cliente-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.venta-cliente-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.venta-cliente-modal-body {padding: 2px 16px;}

.venta-cliente-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* The Modal (background) */
.venta-producto-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.venta-producto-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.venta-producto-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.venta-producto-close:hover,
.venta-producto-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.venta-producto-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.venta-producto-modal-body {padding: 2px 16px;}

.venta-producto-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}