<div>
    <h3>Consultar Venta</h3>
</div>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Ingrese fecha de Venta</label>
        <div class="col-md-3">
            Año:
            <select ng-model="scc.searchAnio">
                <option value="2016">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
            </select>
            Mes:
            <select ng-model="scc.searchMes">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            Día:
            <select ng-model="scc.searchDia">
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        <button type="button" ng-click="scc.searchSellsByDate()" class="btn btn-success">Buscar</button>
    </div>
    <div class="row show-hide-message" ng-show="scc.searchMessage">
        <div class="col-md-7 col-md-offset-2">
            <div class="alert alert-warning">
                {{ scc.searchMessage }}
            </div>
        </div>
    </div>
    <div class="form-group"  ng-show="scc.searchedSells.length > 0">
        <div class="col-md-7 col-md-offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sell in scc.searchedSells">
                    <th scope="row">{{scc.searchedClients.indexOf(client)}}</th>
                    <td>{{sell.fecha}}</td>
                    <td>{{sell.proveedor.nombre}}</td>
                    <td>{{sell.total}}</td>
                    <td><button ng-click="scc.selectSell(sell)" type="button" class="btn btn-warning">Seleccionar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="col-md-12">
    <label>Detalle de Compra</label>
    <hr style="width: 100%; color: grey; height: 1px; background-color:light-grey;" />
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="venta-table-cantidad">Cantidad</th>
                <th>Nombre</th>
                <th class="venta-table-precio-venta">Precio</th>
                <th class="venta-table-precio-venta">Precio Venta</th>
                <th class="venta-table-cantidad">Importe</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="detalle in scc.sellData.detalleVentas">
                <td><input readonly class="venta-table-input" type="number" min="0" ng-model="detalle.cantidad" ng-required="!detalle.cantidad"></td>
                <td>{{detalle.producto.nombre}}</td>
                <td>$ <input readonly class="venta-table-precio-input" type="number" min="0" step="any" ng-model="detalle.precio" ng-required="!detalle.precio"></td>
                <td>$ <input readonly class="venta-table-precio-input" type="number" min="0" step="any" ng-model="detalle.producto.precioVenta" ng-required="!detalle.producto.precioVenta"></td>
                <td>{{scc.math.round(100*(detalle.cantidad*detalle.producto.precioVenta))/100}}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-right venta-total">Total: {{scc.sellData.total}}</p>
    </div>
</div>

<div class="row show-hide-message" ng-show="scc.message">
    <div class="col-md-7 col-md-offset-2">
        <div class="alert alert-info">
            {{ scc.message }}
        </div>
    </div>
</div>