<div>
    <h3>Consultar Compra</h3>
</div>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Ingrese fecha de Compra</label>
        <div class="col-md-3">
            Año:
            <select ng-model="bcc.searchAnio">
                <option value="2016">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
            </select>
            Mes:
            <select ng-model="bcc.searchMes">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
            Día:
            <select ng-model="bcc.searchDia">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
        </div>
        <button type="button" ng-click="bcc.searchBuysByDate()" class="btn btn-success">Buscar</button>
    </div>
    <div class="row show-hide-message" ng-show="bcc.searchMessage">
        <div class="col-md-7 col-md-offset-2">
            <div class="alert alert-warning">
                {{ bcc.searchMessage }}
            </div>
        </div>
    </div>
    <div class="form-group"  ng-show="bcc.searchedBuys.length > 0">
        <div class="col-md-7 col-md-offset-2">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="buy in bcc.searchedBuys">
                    <th scope="row">{{bcc.searchedClients.indexOf(client)}}</th>
                    <td>{{buy.fecha}}</td>
                    <td>{{buy.proveedor.nombre}}</td>
                    <td>{{buy.total}}</td>
                    <td><button ng-click="bcc.selectBuy(buy)" type="button" class="btn btn-warning">Seleccionar</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<!--form class="form-horizontal" ng-show="bcc.buySelected">
    <div class="form-group">
        <label class="col-md-2 control-label">Nombre</label>
        <div class="col-md-3">
            <input type="text" readOnly class="form-control" ng-model="bcc.clientData.nombre" ng-required="!bcc.clientData.nombre">
        </div>
        <label class="col-md-1">Apellido</label>
        <div class="col-md-3">
            <input type="text" readOnly class="form-control" ng-model="bcc.clientData.apellido" ng-required="!bcc.clientData.apellido">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Domicilio</label>
        <div class="col-md-3">
            <input type="text" readOnly class="form-control" ng-model="bcc.clientData.domicilio" ng-required="!bcc.clientData.domicilio">
        </div>
        <label class="col-md-1">Email</label>
        <div class="col-md-3">
            <input type="email" readOnly class="form-control" ng-model="bcc.clientData.email" ng-required="!bcc.clientData.email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tipo de Persona</label>
        <div class="col-md-3">
            <input readOnly class="form-control" ng-model="bcc.clientData.tipoPersona.descripcion" ng-required="!bcc.clientData.tipoPersona.descripcion">
            </input>
        </div>
        <label class="col-md-1">Número de CUIT</label>
        <div class="col-md-3">
            <input type="number" min="0" readOnly class="form-control" ng-model="bcc.clientData.nroCuit" ng-required="!bcc.clientData.nroCuit">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Tipo de Documento</label>
        <div class="col-md-3">
            <input readOnly class="form-control" readOnly ng-model="bcc.clientData.tipoDocumento.descripcion" ng-required="!bcc.clientData.tipoDocumento.descripcion">
            </input>
        </div>
        <label class="col-md-1">Número Documento</label>
        <div class="col-md-3">
            <input type="number" min="0" class="form-control" readOnly ng-model="bcc.clientData.nroDocumento" ng-required="!bcc.clientData.nroDocumento">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-7">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Borrar Cliente</button>
            <a ng-click="bcc.goBack()" class="btn btn-warning btn-lg btn-block">Cancelar</a>
        </div>
    </div>
</form-->
<div class="col-md-12">
    <label>Detalle de Compra</label>
    <hr style="width: 100%; color: grey; height: 1px; background-color:light-grey;" />
    <div class="col-md-8">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="venta-table-cantidad">Cantidad</th>
                <th>Nombre</th>
                <th class="venta-table-precio-venta">Precio</th>
                <th class="venta-table-precio-venta">Precio Venta</th>
                <th class="venta-table-cantidad">Importe</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="detalle in bcc.buyData.detalleCompras">
                <td><input readonly class="venta-table-input" type="number" min="0" ng-model="detalle.cantidad" ng-required="!detalle.cantidad"></td>
                <td>{{detalle.producto.nombre}}</td>
                <td>$ <input readonly class="venta-table-precio-input" type="number" min="0" step="any" ng-model="detalle.precio" ng-required="!detalle.precio"></td>
                <td>$ <input readonly class="venta-table-precio-input" type="number" min="0" step="any" ng-model="detalle.producto.precioVenta" ng-required="!detalle.producto.precioVenta"></td>
                <td>{{bcc.math.round(100*(detalle.cantidad*detalle.precio))/100}}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-right venta-total">Total: {{bcc.buyData.total}}</p>
    </div>
</div>

<div class="row show-hide-message" ng-show="bcc.message">
    <div class="col-md-7 col-md-offset-2">
        <div class="alert alert-info">
            {{ bcc.message }}
        </div>
    </div>
</div>